#VideoBackground{
  
  margin:5px;
  float:left;
}

#background-video{

  position:absolute;
  z-index: -1;
  background-color:black;
  width:inherit;
  height:inherit;
  
}

#TextOverlay{
  display: inline-block;
  position:absolute;
  overflow-y:hidden;
  overflow-x:hidden;
  width:inherit;
  height:inherit;
  background-color:rgba(192,192,192,0.5);
  text-align:center;
}

